<% if flash[:notice] || flash[:alert] %>
  <div class='login-flash-message c-blue py-05 font-bold t-center'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="overflow-hidden">

<div class="kv">
  <%= image_tag 'luis.jpg', class: 'kv-img_midum  vw-100 pc' %>
  <%= image_tag 'sp-top.jpg', class: 'kv-img_midum  vw-100 sp' %>
  <%= render "shared/header" %>
  <div class="kv-title fade">
    <h1>BookShare</h1>
    <p class="py-1">〜学んだ知識をアウトプットしよう〜</p>
    <p class="pc kv-btn white-btn  bg-white a_decorate">
      <%= link_to "本のアウトプットを投稿する", new_bookreview_path ,class: "c-black" %>
    </p>
  </div>
</div>
<main class="bg-gray pb-05">
 <%= search_form_for @p, url: search_bookreviews_path do |f| %>
 <div class="title-wrap row align-items-center">
    <%= image_tag 'megane.png', class: 'megane' %>
    <h2 class="h3_search c-blue">投稿を検索する</h2>
 </div>
 <div>
   <div class="search-form-wrap">
     <div class="search-form-group">
      <%= f.search_field :author_cont ,class: "search-input",placeholder:"著者名" %>
     </div>  
     <div class="search-form-group">
      <%= f.search_field :title_cont ,class: "search-input",placeholder:"タイトル名" %>
      </div>  
      <div class="search-form-group">
        <%= f.collection_select :genre_id_eq, Genre.all, :id, :name, {include_blank: "カテゴリ"}, class:"search-input bg-white c-black" %>
      </div>  
    </div>
     <div class="search-btn-wrap">
        <%= f.submit '検索' , class: "search-btn t-center bg-blue c-white"%>
      </div>  
  </div>  
 <% end %>
 <div class="title-wrap row align-items-center">
    <%= image_tag 'pencil.png', class: 'megane' %>
    <h2 class="c-blue">書評・アウトプット投稿一覧</h2>
 </div>
 <ul class='book-lists row w-90'>
  <% if @bookreviews[0] != nil %>
    <% @bookreviews.each do |book| %>
    <li class='book-list t-center'>
       <%= link_to bookreview_path(book.id) do %>
       <div class='book-img-content'>
         <%= image_tag book.image, class: "book-img w-100" %>
       </div>
       <% end %>
       <div class='book-info py-1'>
          <h4 class='book-name'>
            <%= book.author %>
          </h4>
          <h4 class='book-name py-1'>
            <%= book.title %>
          </h4>
        </div>
    </li>
    <% end %>
  <% end %>
  </ul>
  <%= paginate @bookreviews %>
</main>
</div>
