<div class='login-flash-message c-blue py-05 font-bold t-center'>
  <%= flash[:notice] %>
  <%= flash[:alert] %>
</div>
<%= render "shared/header" %>
<div class="kv">
  <%= image_tag 'kv-small.jpg', class: 'kv-img_small sp vw-100' %>
  <%= image_tag 'kv-midum.jpg', class: 'kv-img_midum pc vw-100' %>
  <div class="kv-title w-60 fade">
    <h1>BookShare</h1>
    <p class="py-1">〜学んだ知識をアウトプットしよう〜</p>
    <p class="white-btn t-center bg-white a_decorate w-50">
      <%= link_to "本のアウトプットを投稿する", new_bookreview_path ,class: "c-black" %>
    </p>
  </div>
</div>
<main class="bg-gray">
  <div>検索エリアをここに作る</div>
</main>


