<%= render "shared/secondheader" %>
<section>
 <div class="sec-top row align-items-center">
  <h2 class="c-blue">タイトル: <%= @bookreview.title %></h2>
  <% if user_signed_in?  %>
  <div class="px-1" id="like-btn<%= @bookreview.id %>">
  <%= render partial: "likes/like" %>
  </div> 
  <% end %>  
 </div>
 <div class='book-lists'>
    <div class='list row'>
       <div class='book-img-content'>
         <%= image_tag @bookreview.image, class: "book-img w-100" %>
       </div>
       <div class='book-info'>
          <div class='book-name row'>
            <h4 class="book-name-title">投稿者:</h4>
            <h4><%= @bookreview.user.nickname %></h4>
          </div>
          <div class='book-name row'>
            <h4 class="book-name-title">著者:</h4>
            <h4><%= @bookreview.author %></h4>
          </div>
          <div class='book-name row'>
            <h4 class="book-name-title">タイトル:</h4>
            <h4><%= @bookreview.title %></h4>
          </div>
          <h4 class="book-name-output">
            書評・アウトプット: 
          </h4>
          <p><%= @bookreview.text %><p>
        </div>
    </div>
  </div>
  </div>
  <% if user_signed_in? && current_user.id == @bookreview.user_id  %>
   <button class="action-btn t-center bg-blue c-white actions ">
      <%= link_to '編集ページへ', edit_bookreview_path(@bookreview.id) , class:"a_decorate c-white" %>
    </button>
   <button class="action-btn t-center bg-blue c-white actions">
      <%= link_to '投稿を削除する', bookreview_path(@bookreview.id),method: :delete , class:"a_decorate c-white" %>
    </button>
  <% end %>  
</section>
