<header class="global-nav bg-black row align-items-center justify-content-between c-white">
  <div class="left-nav">
    <h1>
      <%= link_to 'BookShare', root_path ,class: "c-white" %>
    </h1>
  </div>
  <div class="right-nav row justify-content-between">
    <% if user_signed_in?%>
      <p class="white-btn t-center bg-white a_decorate ">
       <%= link_to 'ログアウト',  destroy_user_session_path, method: :delete, class: "c-black" %>
      </p>
      <p class="white-btn t-center bg-white a_decorate ">
        <%= link_to "マイページ", "#", class: "c-black" %>
      </p>
    <% else %>
      <p class="white-btn t-center bg-white a_decorate">
        <%= link_to '新規登録', new_user_registration_path, class: "c-black" %>
      </p>
      <p class="white-btn t-center bg-white a_decorate">
        <%= link_to 'ログイン', new_user_session_path, class: "c-black" %>
      </p>
   <% end %>
  </div>
</header>